extends layout

block content

  #content.compare
    h2 Compare two revisions of:&nbsp;
      b.page-param #{page.title}

    ul.nav.nav-pills
      if (revs[0])
        li
          a(href="#{page.urlForShow()}/#{revs[0]}") #{revs[0]}
      li
        a(href="#{page.urlForShow()}/#{revs[1]}") #{revs[1]}
      li
        a(href="#{page.urlForShow()}") Current
      li
        a(href="#{page.urlForHistory()}") History

    table.compare.table.table-bordered.table-hover.table-condensed
      each line in lines
        tr
          td.ln #{line.ldln}
          td.ln #{line.rdln}
          td(class="#{line.className}") #{line.text}
