extends layout

block content
  h2 #{title} 

  #content

    table.compare.table.table-bordered.table-hover.table-condensed
      each line in lines
        tr
          td.ln #{line.ldln}
          td.ln #{line.rdln}
          td(class="#{line.class}") #{line.text}
