extends layout

include mixins/form

block styles
  mixin markitupStylesheets()
  mixin wideareaStylesheets()

block page-actions
  ul.page-actions
    if pageName != 'home'
      li
        form(action="/pages/#{pageName}", method="post", style="display:inline")
          input(type="hidden", name="_method", value="delete")
          input(type="submit", value="Delete page").confirm-delete-page.btn.btn-small

block content

  h2 #{title}

  mixin errors()
  mixin warning()

  #content
    form(action='/pages/#{pageName}', method='post', class='edit')

      div
        label Page title
        input(type='text', name='pageTitle', value="#{coalesce(formData.pageTitle, '')}")#pageTitle
        input(type="hidden", name="_method", value="put")

      div
        textarea(name="content", data-widearea="enable", rows=25)#editor #{coalesce(formData.content, '')}

      div
        input(type='text', name='message', placeholder='Write a small message here explaining this change (optional)')#message.span8

      mixin saveAndCancel()

  #preview(tabindex="-1").modal.hide
    mixin dialogBox("Page preview")

  #syntax-reference(tabindex="-1").modal.hide
    mixin dialogBox("Markdown cheatsheet")

block scripts
  mixin wideareaJavaScripts()
  mixin markitupJavaScripts()
