include mixins/links

- if (!isAjax)
  doctype html
  html
    head(profile=hasFavicon() ? "http://www.w3.org/2005/10/profile" : "")
      meta(charset="utf-8")
      if hasFavicon()
        link(rel="icon", type=faviconMimeType, href=faviconUrl)
      meta(name="generator", content="jingo " + jingoVersion)
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title= title
      +asset("/vendor/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed")
      +asset("/css/style.css")
      +asset("/css/ionicons.min.css")
      +asset("/css/shCoreDefault.css")
      block styles
      if hasCustomStyle()
        style.
          !{_style}
    body
      -var term_ph = (typeof term == "undefined" ? "" : term)
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid          
          .navbar-header
            +anchor("/", appBrand).navbar-brand
            button(type="button",data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse(id="navbar-collapse-1")
              if topMenus.length>0
                ul.nav.navbar-nav
                  each m in topMenus
                    li
                      +anchor(m.url, m.text)
              if canSearch()
                form(action=`${proxyPath}/search`).navbar-form.search.navbar-left
                  .input-group.input-group-sm.search
                    input.form-control(type="text", value=term_ph, data-i-search-input="true",name="term",placeholder="Search the wiki")
                    span.input-group-btn
                      button.btn.btn-primary(type="submit") Search
              ul.nav.navbar-nav.navbar-right
                li.dropdown                
                  if isAnonymous()
                    +anchor('/login?destination', 'logged in')#login(title='Access login page')
                  else
                    a(href="#",class="dropdown-toggle user",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false")
                      if hasGravatar()
                        img(src=gravatar().url(user.email, {s:24}))
                      span #{user.displayName}
                      span.caret
                  ul.dropdown-menu
                    each am in accountMenus
                      li
                        +anchor(am.url, am.text)  
                    li
                      a(href="/logout",title='Become anonymous') 
                        i.icon.ion-power 
                        span Logout


      .tools
        block tools

      if canSearch()
        form(action=`${proxyPath}/search`).visible-xs-block.search-xs
          input.form-control(type="text", value=term_ph, data-i-search-input="true",name="term",placeholder="Search the wiki")

      .container
        
        .row
          #main.hide-tools.col-md-9
            block content

          if hasSidebar()
            .col-md-3.with-sidebar
              .content !{_sidebar}
          else
            .col-md-3          

        if hasFooter()
          .row
            .col-md-3
            .col-md-9.with-footer
              .content !{_footer}

      script(src=proxyPath + "/vendor/jquery.min.js")
      +asset("/vendor/bootstrap/js/bootstrap.min.js")
      +asset("/js/app.js")
      script.
        Jingo.init("#{proxyPath}");
      block scripts
      if hasCustomScript()
        script.
          !{_script}
- else
  block content
