block styles

.tools
  block tools

.container

  .row
    if hasSidebar()
      .col-md-2.with-sidebar
        .content !{_sidebar}
    else
      .col-md-2

    #main.hide-tools.col-md-8
      block content

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
script.
  window.jQuery || document.write("<sc" + "ript src='#{mountpath}#{assets_prefix}/vendor/jquery.min.js'></scr" + "ipt>");
script(src="#{mountpath}#{assets_prefix}/vendor/bootstrap/js/bootstrap.min.js")
script(src="#{mountpath}#{assets_prefix}/js/app.js")
script.
  Jingo.init("#{mountpath}");
block scripts
