extends layout

include mixins/form

block content
  h2 #{title} for 
    b.page-param #{term}

  mixin warning()

  #content
    dl.search-results
      each match in matches
        dt 
          a(href="/wiki/#{match.pageName}?hl=#{encodeURIComponent(term)}") #{match.pageName}
          span.nl #{match.line}
        dd #{match.text}
