extends layout

include mixins/form

block tools
  mixin tools('show', page.wikiname)

block content

  #content.show
    mixin notice()
    mixin warning()
    !=content

  p.footer Updated by&nbsp;
    if page.metadata.email
      img(src=gravatar().url("#{page.metadata.email}", {s:16}))
    b  #{page.metadata.author}
    |,&nbsp;
    b(title="#{page.metadata.date}") #{page.metadata.relDate}&nbsp;
    | &ndash; #{page.metadata.hash}
