extends layout

include mixins/form

block page-actions
  mixin pageActions('show', pageName)

block content

  #content.show
    mixin notice()
    mixin warning()
    !=content

  p.footer Updated by&nbsp;
    if metadata.email
      img(src=gravatar().url("#{metadata.email}", {s:16}))
    b  #{metadata.author}
    |,&nbsp;
    b(title="#{metadata.date}") #{metadata.relDate}&nbsp;
    | &ndash; #{metadata.hash}
