mixin tools(action, pageName)
  if action == 'edit'
    ul
      if pageName != 'home'
        li
          form(action="/pages/#{pageName}", method="post", style="display:inline")
            input(type="hidden", name="_method", value="delete")
            input(type="submit", value="Delete this page").confirm-delete-page.btn.btn-default

  if action == 'show'
    ul
      if !isAnonymous()
        li
          a(href="/pages/new", title="Create new page").btn.btn-sm.btn-default
            i.icon.ion-plus-round
      if !isAnonymous() && canEdit
        li
          a(href="/pages/#{pageName}/edit", title="Edit this page").btn.btn-sm.btn-default
            i.icon.ion-compose

      li
        a(href="/wiki/#{pageName}/history", title="Page history").btn.btn-sm.btn-default
          i.icon.ion-clock
      li
        a(href="/wiki", title="All pages").btn.btn-sm.btn-default
          i.icon.ion-grid

  if action == 'history'
    ul
      li
        a(href="/wiki", title="All pages").btn.btn-sm.btn-default
          i.icon.ion-grid

mixin saveAndCancel(saveText)
  .well
    input(type='submit',value=saveText || 'Save').btn.btn-primary
    |&nbsp;
    a(href="/").btn Cancel

mixin errors(err)
  -var errors = locals.errors;
  - if (typeof(errors) != 'undefined' && Object.keys(errors).length > 0)
    .alert.bg-danger
      ul
        each v in errors
          li
            b= v.msg || v

mixin featuresStylesheets()
  if hasFeature('markitup')
    link(rel="stylesheet", type="text/css", href="/vendor/widearea/widearea.min.css")
    link(rel="stylesheet", type="text/css", href="/vendor/markitup/skins/simple/style.css")
    link(rel="stylesheet", type="text/css", href="/vendor/markitup/sets/markdown/style.css")
  if hasFeature('codemirror')
    link(rel="stylesheet", type="text/css", href="/vendor/codemirror/codemirror.css")
    link(rel="stylesheet", type="text/css", href="/vendor/codemirror/fullscreen.css")

mixin featuresJavaScripts()
  if hasFeature('markitup')
    script(src="/vendor/jquery-migrate-1.1.0.min.js")
    script(src="/vendor/markitup/jquery.markitup.js")
    script(src="/vendor/markitup/sets/markdown/set.js")
    script(src="/vendor/widearea/widearea.min.js")
    script.
     $('#editor').markItUp(markdownSettings);
     wideArea();
  if hasFeature('codemirror')
    script(src="/vendor/codemirror/codemirror.min.js")
    script.
      Jingo.cmInstance = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        mode: 'markdown',
        matchBrackets: true,
        lineWrapping: true,
        extraKeys: {
          "Ctrl-Enter": function(cm) {
            Jingo.toggleFullscreen();
          }
        }
      });
      Jingo.toolbar();

mixin warning()
  -var warning = locals.warning;
  - if (typeof(warning) != 'undefined')
    .alert.alert-block.alert-warning !{warning}

mixin notice()
  -var notice = locals.notice;
  - if (typeof(notice) != 'undefined')
    .alert.alert-block.alert-info !{notice}

mixin dialogBox(h)
  .modal-dialog
    .modal-content
      .modal-header
        button(data-dismiss="modal",aria-hidden="true").close &times;
        h3 #{h}
      .modal-body
      .modal-footer
