
mixin saveAndCancel(saveText)
  .form-actions
    input(type='submit',value=saveText || 'Save').btn.btn-primary
    &nbsp;
    a(href="/").btn Cancel

mixin errors(err)
  -var errors = locals.errors;
  - if (typeof(errors) != 'undefined' && Object.keys(errors).length > 0)
    .alert.alert-block.alert-error
      ul
        each v in errors
          li
            b= v.msg || v

mixin featuresStylesheets()
  if hasFeature('markitup') 
    link(rel="stylesheet", type="text/css", href="/vendor/widearea/widearea.min.css")
    link(rel="stylesheet", type="text/css", href="/vendor/markitup/skins/simple/style.css")
    link(rel="stylesheet", type="text/css", href="/vendor/markitup/sets/markdown/style.css")
  if hasFeature('codemirror') 
    link(rel="stylesheet", type="text/css", href="/vendor/codemirror/lib/codemirror.css")
    link(rel="stylesheet", type="text/css", href="/vendor/codemirror/addon/display/fullscreen.css")

mixin featuresJavaScripts()
  if hasFeature('markitup') 
    script(src="/vendor/jquery-migrate-1.1.0.min.js")
    script(src="/vendor/markitup/jquery.markitup.js")
    script(src="/vendor/markitup/sets/markdown/set.js")
    script(src="/vendor/widearea/widearea.min.js")
    script.
     $('#editor').markItUp(markdownSettings);
     wideArea();
  if hasFeature('codemirror') 
    script(src="/vendor/codemirror/lib/codemirror.js")
    script(src="/vendor/codemirror/mode/markdown/markdown.js")
    script(src="/vendor/codemirror/addon/display/fullscreen.js")
    script.
      Jingo.cmInstance = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        mode: 'markdown',
        matchBrackets: true,
        lineWrapping: true,
        extraKeys: {
          "Ctrl-Enter": function(cm) {
            Jingo.toggleFullscreen();
          }
        }
      });
      Jingo.toolbar();

mixin warning()
  -var warning = locals.warning;
  - if (typeof(warning) != 'undefined')
    .alert.alert-block !{warning}

mixin notice()
  -var notice = locals.notice;
  - if (typeof(notice) != 'undefined')
    .alert.alert-block.alert-info !{notice}

mixin dialogBox(h)
  .modal-header
    button(data-dismiss="modal",aria-hidden="true").close &times;
    h3 #{h}
  .modal-body
  .modal-footer
