
mixin saveAndCancel(saveText)
  .form-actions
    input(type='submit',value=saveText || 'Save').btn.btn-primary
    &nbsp;
    a(href="/").btn Cancel

mixin errors(err)
  -var errors = locals.errors;
  - if (typeof(errors) != 'undefined' && Object.keys(errors).length > 0)
    .alert.alert-block.alert-error
      ul
        each v in errors
          li
            b= v.msg || v

mixin wideareaStylesheets()
  link(rel="stylesheet", type="text/css", href="/vendor/widearea/widearea.min.css")

mixin wideareaJavaScripts()
  script(src="/vendor/widearea/widearea.min.js")
  script.
    wideArea();

mixin markitupStylesheets()
  link(rel="stylesheet", type="text/css", href="/vendor/markitup/skins/simple/style.css")
  link(rel="stylesheet", type="text/css", href="/vendor/markitup/sets/markdown/style.css")

mixin markitupJavaScripts()
  script(src="/vendor/jquery-migrate-1.1.0.min.js")
  script(src="/vendor/markitup/jquery.markitup.js")
  script(src="/vendor/markitup/sets/markdown/set.js")
  script.
    $('#editor').markItUp(markdownSettings);

mixin warning()
  -var warning = locals.warning;
  - if (typeof(warning) != 'undefined')
    .alert.alert-block !{warning}

mixin notice()
  -var notice = locals.notice;
  - if (typeof(notice) != 'undefined')
    .alert.alert-block.alert-info !{notice}

mixin dialogBox(h)
  .modal-header
    button(data-dismiss="modal",aria-hidden="true").close &times;
    h3 #{h}
  .modal-body
  .modal-footer
