mixin anchor(url, text)
  a(href=`${proxyPath}${url}`)&attributes(attributes) !{text}
    block

mixin asset(url)
  -
    var link = proxyPath + url
    var match = /^.*?\.([a-zA-Z]+)$/.exec(url)
    var ext = match.length > 1 ? match[1] : ''
  if ext === 'css'
    link(rel="stylesheet", href=link)
  else if ext === 'js'
    script(src=link)
